html {
  font-size: calc(380/100*10vw);
}

* {
  margin: 0;
  padding: 0;
  font-size: .14rem;
}

html, body, .wrap {
  width: 100%;
  height: 100%;
  background: #e2dee2;
}

.wrap .nav {
  display: flex;
  justify-content: space-between;
  padding: .1rem;
  font-size: .16rem;
}

.wrap .top2 {
  display: flex;
  justify-content: space-between;
  padding: .1rem .1rem;
}

.wrap .top2 i {
  font-size: .18rem;
}

.content {
  padding-top: 50%;
  text-align: center;
  color: #666;
}

.di {
  display: flex;
  padding: .1rem;
  position: fixed;
  bottom: .2rem;
}

.di i {
  font-size: .16rem;
}

.two i {
  padding-left: 1rem;
}
